# Langchain
langchain==0.1.11
openai==0.27.5
wikipedia==1.4.0
chromadb==0.3.21
tiktoken==0.3.3

# GPT4All
pyllamacpp==1.0.6
pygpt4all==1.0.1

# Streamlit UI
watchdog
streamlit==1.37.0

# Linting
black
ruff
